body {
	background-color: lightgrey;
}

.col-xs-3 {
	margin: 10px 10px 0 0;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
}


/*these properties are the un clicked border colors*/

.card {
    border: 4px solid;
}


/*these properties are the on click border and background color changes*/

.clicked-border{
    background-color: black;
    border: 8px solid; 
}
